[global_config]
[keybindings]
  close_term = <Primary>w
  copy = <Primary>c
  new_tab = <Primary>t
  paste = <Primary>v
  split_horiz = <Primary><Shift>d
  split_vert = <Primary>d
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.76
    background_type = transparent
    cursor_color = "#aaaaaa"
    foreground_color = "#edd400"
    scrollback_infinite = True