{
    "explorer.confirmDragAndDrop": false,
    "git.enableSmartCommit": true,
    "git.confirmSync": false,
    "git.autofetch": true,
    "workbench.sideBar.location": "right",
    "files.autoSave": "onFocusChange",   
    "editor.rulers": [
        80
    ]
}
